
.task-start .start-button{
    background-image:url("../../resource/images/start.png");
    background-size: contain;
    float: left;
    width: 50px;
    height: 40px;
}

.task-start .start-button:hover{
    transition: 0.5s linear;
    background-image:url("../../resource/images/start-hover.png");
}

.task-start .task-search{
    float: left;
    margin-left: 5px;
/*    background: rgba(48,74,109,0.9);*/
}

.task-start .task-search input{
    height: 28px;
    width: 300px;
    background: rgba(82,101,127,1);
    border: 0px;
    font-size: 14px;
    padding-left: 5px;
    margin: 5px 12px;
} 

.task-start .task-search input:focus{
    background:none;
    background: #fff;
    outline:none;
}
