<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= APP_TITLE %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- inject:css -->
  <!-- endinject -->
  <link rel="stylesheet" href="/index.css">
  
  
<script src="/resource/js/ace/src/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/resource/js/ace/src/mode-abc.js" type="text/javascript" charset="utf-8"></script>
<script src="/resource/js/ace/src/theme-eclipse.js" type="text/javascript" charset="utf-8"></script>

</head>

<body style="width:100%;height:100%;overflow: hidden;">

  <app>Loading...</app>
  <!-- shims:js -->
  <!-- endinject -->

  <script>System.config(<%= JSON.stringify(SYSTEM_CONFIG) %>)</script>

  <!-- libs:js -->
  <!-- endinject -->

  <script>
    System.import('bootstrap')
      .catch(function (e) {
        console.error(e,
          'Report this error at https://github.com/mgechev/angular2-seed/issues');
      });
  </script>

  <!-- inject:js -->
  <!-- endinject -->

</body>
</html>
