
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"  aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create machine</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="form">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Name" id="name">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Label</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Label" id="zone">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Image</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" value="junjun16818/node:5.4.0-wheezy" placeholder="Image" id="image">
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" (click)="create()" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-top:30px">
    
  <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary col-md-12" style="margin-bottom:30px;height:50px;">Create Machine</button>
  
  <div class="col-md-3" *ngFor="#item of list">
    <div class="panel panel-default">
        <div class="panel-heading" style="font-size:11px">{{item.name}} <div style="float:right" *ngIf="item.port.IP">{{item.port.IP}}:80->{{item.port.PublicPort}}</div></div>
        <div class="panel-body">
            <a href="/#/desktop/{{item.id}}/{{item.port.IP}}/{{item.port.PublicPort}}"><img style="width:100%" src="/resource/images/swarm.png" alt=""></a>
        </div>
    </div>
  </div>
</div>
