.content-menu
{
    position:absolute;
    z-index:100000;
    width:150px;
    background:#fff;
    top:100px;
    left:300px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.content-menu a
{
    font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 14pt;
    font-smooth: always;
    display: block;
    padding: 3px 20px;
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;
    position: relative;
}

.content-menu a:hover
{
    background: #bb4d45;
    color: #fff;
}

.content-menu li
{
    display: list-item;
    line-height: 20px;
    margin-top:5px;
    list-style-type:none;
    position: relative;
}
.content-menu ul
{
    display: block;
    position: static;
    margin-bottom: 5px;
    margin-left: 0;
    padding-left: 0;
}

.content-menu .divider {
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
    background-color: #E5E5E5;
}

.content-menu .disabled a:hover{
    
    background-color: #fff;
    color: #999;
    cursor: auto;
}

.right-arrows
{
    background-image: url("../../resource/images/windows8/youjiantou.png");
    height: 11px;
    top: 7px;
    position: absolute;
    right: 10px;
    width: 8px;
}